[Desktop Entry]
Icon=text-x-qml
Name=BreezeMenuStyle.qml
Type=Link
URL[$e]=file:///usr/share/sddm/themes/WhiteSur/BreezeMenuStyle.qml
X-KDE-LastOpenedWith=sublime_text
